<form name="signup" action="/auth/signIn" method="post">
    Username: <input type="text" name="username" id="username" style="color: black;"><br>
    Password: <input type="password" name="password" id="password" style="color: black;">
    <input type="submit" class="btn btn-primary btn-lg">SIGN UP TODAY</button>
  </form>